##Strings

###Intro

Strings are like collection of characters

In [ ]:
#To write the strings we can use either double quotation or single quotation
name1 = "Wasana"
name2 = 'Wasana'

print(name1)
print(name2)

Wasana
Wasana

In [ ]:
#Now I want to cross check whether this variable is a string or not
#How can I do that?
#What is the function that I can use to check the data type of the variable?
#So can u guys put ur answers in the chat
type(name1)

str

In [ ]:
#Now I want to check the length of the name
len(name1)

6

In [ ]:
#string concatenation
#Let's see how we can concatenate two names together
#U can use + operator to combine two strings
firstname = 'Wasana'
lastname = 'Perera'
name = firstname + ' ' + lastname

print(name)

Wasana Perera

In [ ]:
#white space also count as the length
#If u count Wasana there is only 6 letters in it 
#And also in Perera there is only 6 letters
#But here length is given as 13
#Bcz the white spaces also count to the length
#That's why we get 13 as the length
#The length of the string is the number of characters it contains, including spaces, punctuations etc
len(name)

13

###Slicing

In [ ]:
#slicing
#let's see how to extract elements from strings
#We can use square barckets to access the elements of the string
#What we want to know is the position or the index of the element

print(name[0])
print(name[3])


#If u want to get the range of characters what u can do?
#In that case u need to mention both start index and end index, separated by colon
print(name[2:6])
#But remember that not including the character in index 6
print(name[0:6])

#By leaving out the start index then the range will start at the first character
print(name[:6])
#By leaving out the end index then the range will go to the end
print(name[7:])

#U can use negative indexes to start the slice from the end of the string
#print(name[12])
print(name[-1])
print(name[-2])

#print(name[len(name)-1])

W
a
sana
Wasana
Wasana
Perera
a
r

In [ ]:
email = 'Wasana.Perera@lseg.com'

# Slicing and separating the username and domain
username = email[:13]
domain = email[14:]
print(username)
print(domain)

Wasana.Perera
lseg.com

In [ ]:
phonenumber = '+94777334416'
country_code = phonenumber[1:3]
number = phonenumber[3:]
print(country_code)
print(number)

94
777334416

In [ ]:
#REVERSE
reverse = name[::-1]
print(reverse)

arereP anasaW

###Modify Strings

In [ ]:
#Python has a set of built-in methods that u can use for strings
#A method is a function that belongs to an object
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [ ]:
#Let's try to convert all the letters in the name to uppercase
#upper() method returns the string in uppercase
uppercase_name = name.upper()
print(uppercase_name)

#Let's try to convert all the letters in the name to lowercase
#lower() method returns the string in uppercase
print(uppercase_name.lower())

#If you want to convert first letter of each and every letter to uppercase
print(name.title())

WASANA PERERA
wasana perera
Wasana Perera

In [ ]:
help(str.title)

Help on method_descriptor:

title(self, /)
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [ ]:
#strip 
#Remove whitespace
#removes any spaces or specified characters at the start and end of a string
#Whitespace is the space before or after the actual text or some specified characters
#So sometimes u want to remove those whitespaces
name = ' wasana perera .'
len(name)

16

In [ ]:
#rstrip
#remove nay whitespaces at the end of the string
r = name.rstrip("")
print(r)
len(r)

 wasana perera .

16

In [ ]:
name = '.wasana perera'
print(name.lstrip("."))
len((name.lstrip(" )))

wasana perera

13

In [ ]:
#rstrip
#remove nay whitespaces at the end of the string
r = name.rstrip(" .")
print(r)
len(r)

 wasana perera

14

In [ ]:
#lstrip
#remove any spaces to the left to the string
#space is the default leading character
#A set of leading characters to remove as leading characters
l =  r.lstrip()
print(l)
len(l)

wasana perera

13

In [ ]:
#Strip
#removes spaces at the begining and at the end of a string
name = ' =wasana perera. '
name = name.strip("=. ")
print(name)

wasana perera

In [ ]:
#check all the characters of the strings are numeric or not
name.isnumeric()

False

In [ ]:
'456'.isnumeric()

True

In [ ]:
#startswith
#This method returns True if the string starts with specified value, other wise False
s = 'I am going home'
t = 'We all are working for BSL'

In [ ]:
print(s.startswith('I am'))
print(t.startswith('I am'))

True
False

In [ ]:
#endswith
#This method returns True if the string ends with specified value, other wise False
print(s.endswith('BSL'))
print(t.endswith('BSL'))

False
True

In [ ]:
#find
#Find the the first occurance of the specified value
email = 'wasana.perera@lseg.com'

email.find('@')
print(email.find('@'))
domain = email[ email.find('@') + 1  : ]
username = email[ : email.find('@') ]        
print(domain)
print(username)

13
lseg.com
wasana.perera

In [ ]:
#split
#Splits the strings into substrings 
#After u split the strings to substrings it returns a list of substrings
sentance = 'My Name is Wasana Perera, I live in Wadduwa. My phone number is 0777334416. My email address is wasana.perera@lseg.com.'
words = sentance.split()
print(words)
#If you are not mentioning the separtor within the brackets it autimatically takes the space as the separator

['My', 'Name', 'is', 'Wasana', 'Perera,', 'I', 'live', 'in', 'Wadduwa.', 'My', 'phone', 'number', 'is', '0777334416.', 'My', 'email', 'address', 'is', 'wasana.perera@lseg.com.']

In [ ]:
#Also u can give some separater to splits the substrings
#That means if you want to split this from fullstop.
#Then u can specify the separator here
subsentances = sentance.split('.')
print(subsentances)

['My Name is Wasana Perera, I live in Wadduwa', ' My phone number is 0777334416', ' My email address is wasana', 'perera@lseg', 'com', '']

In [ ]:
#join
words = [ 'I', 'am', 'working', 'for', 'BSL']
print(words)

['I', 'am', 'working', 'for', 'BSL']

In [ ]:
#Join all the items in the list #space as the separater
#Need to include the separater 
a  = ' '.join(words)
print(a)

I am working for BSL

In [ ]:
#string formatting
#sometimes u need to insert custom strings or variables in predefined text
#in that case to display ur strings as u expected u can format the result uisng format() method
#so the format() method returns the formatted string
#let's see how to format ur strings

In [ ]:
#you have previously defined two variables
x = 2
x = 3

#As the result ypu need to display that
#Sum of x and y : x+y
#Sum of 2 and 3: 5

In [ ]:
print('Sum of', x, 'and', y, ':', x+y)

Sum of 2 and 3 : 5

In [ ]:
#without doing like that u can format ur strings using placeholders
#you need to give the assigning varibale for each placeholders one by one
print( 'Sum of {} and {} : {}'.format(x, y, x+y) )

Sum of 2 and 3 : 5

In [ ]:
#without giving format method u can just assign ur variables into place honders
#begin a string with f or F before the opening quotation mark or 
#triple quotation mark. 
#Inside this string, you can write a Python expression between { and } characters that can refer to variables or literal values.
print(f" Sum of {x} and {y} : {x+y}")

#these are the ways to format ur outputs of strings

In [ ]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

In [ ]:
name = 'Wasana'
age = 28

#My name is Wasana and I'm 28

In [ ]:
print(f"My name is {name} and I'm {age}.")

My name is Wasana and I'm 28.

##List

In [ ]:
#Lists are used to store multiple items in a single variable
#Lists are created using square brackets
#Ordered, Changeable, allow duplicate values
#Ordered - The items have a defined order, 
#and that order will not change, If u add new item to the list it will placed at the end

#Changeable - we can change, add, and remove, 
#items in a list after it has been created

#Duplicates - lists can have items with the same value

In [ ]:
# Creating a List 
List=[]
print("blank list:")
print(List)

blank list:
[]

In [ ]:
# Creating a List of numbers 
List = [1,2,3,4,5]
print(List)

[1, 2, 3, 4, 5]

In [ ]:
# Creating a List of strings
x=["This", "is", "a","List"]
   
# Creating a Multi-Dimensional List 
# (By Nesting a list inside a List)
y=[x,["inside","a","List"]]

In [ ]:
#checking type of the x
type(y)

list

In [ ]:
#display whole element of the list 
print(x)
print(y)

['This', 'is', 'a', 'List']
[['This', 'is', 'a', 'List'], ['inside', 'a', 'List']]

In [ ]:
#get length of the list
print(len(x))
print(len(y))

4
2

In [ ]:
#result is boolean 
"is" in x

True

In [ ]:
"today" in y

False

###Indexing

In [ ]:
#first element of the list
print(x[0])
print(y[0][0])

This
This

In [ ]:
print(y[1][0])

inside

In [ ]:
print(x[2])

a

In [ ]:
#last element of the list
print(x[-1])

List

In [ ]:
print(y[1][-1])
print(y[1][2])

List
List

In [ ]:
print(y[0][0:2])

['This', 'is']

### Modify the content of the list

In [ ]:
fruits = ["Pineapple","Banana","Apple","Melon"]

In [ ]:
fruits[-1]

'Melon'

In [ ]:
print(fruits)

['Pineapple', 'Banana', 'Apple', 'Melon']

In [ ]:
#Or you can loop through the list items by using for loop
#Print all the items in the list one by one
for fruit in fruits:
    print(fruit)

Pineapple
Banana
Apple
Melon

In [ ]:
#append
# Addition of Elements 
fruits.append("Orange")
print(fruits)

['Pineapple', 'Banana', 'Apple', 'Melon', 'Orange']

In [ ]:
# Addition of Element at  
# specific Position
fruits.insert(0,"Papaya")
print(fruits)

['Papaya', 'Pineapple', 'Banana', 'Apple', 'Melon', 'Orange']

In [ ]:
#remove
fruits.remove("Melon")
print(fruits)

['Papaya', 'Pineapple', 'Banana', 'Apple', 'Orange']

In [ ]:
#Pop method removes the specified index
fruits.pop(2)
print(fruits)

#if you do not specify the index, the pop() method removes the last item

['Papaya', 'Pineapple', 'Apple', 'Orange']

In [ ]:
#Replace the name of the fruit with another one
fruits[1]="Strawberry"
print(fruits)

['Papaya', 'Strawberry', 'Apple', 'Orange']

## Tupples

In [ ]:
#Tuple is one of 4 built-in data types in Python used to store collections of data
#Tuple is a collection which is ordered and unchangeable, allow duplicate values
#Tuples are written with round brackets

#Ordered, UnChangeable, allow duplicate values
#Ordered - The items have a defined order, and that order will not change, If u add new item to the list it will placed at the end
#UnChangeable - we can't change, add, and remove, items in a list after it has been created
#Duplicates - lists can have items with the same value

In [ ]:
fullname = ('Wasana','Perera')
languages = ('Python','R')
print(fullname)
print(languages)

('Wasana', 'Perera')
('Python', 'R')

In [ ]:
#We can't change the existing tuples, But we can add tuples and create new tuples
fullname+languages+(1,2,3,4,5)

('Wasana', 'Perera', 'Python', 'R', 1, 2, 3, 4, 5)

In [ ]:
#//gives the whole number---/ gives the floats
def Convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours*3600) //60
    remaining_seconds = seconds - hours*3600-minutes*60
    return hours,minutes,remaining_seconds

In [ ]:
results = Convert_seconds(5000)

In [ ]:
print(results)

(1, 23, 20)

In [ ]:
hours,minutes,remaining_sec = Convert_seconds(5000)

In [ ]:
print(hours)
print(minutes)
print(remaining_sec)

1
23
20

In [ ]:
type(results)

tuple

In [ ]:
#lmarks = [34, 45, 65, 78]
tmarks = (34, 45, 65, 78)


#print(lmarks)
print(tmarks)
print(tmarks[0])
print(tmarks[:2])

#tmarks[2] = 89

(34, 45, 65, 78)
34
(34, 45)

In [ ]:
#Get details of functions
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
a = 5
b = 8

a, b = b, a
print(a)
print(b)

8
5

In [ ]:
lmarks + [1,2,3]

[34, 45, 65, 78, 1, 2, 3]